doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='../style/dashstyle.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
  title Document
.constainer
  .content
    a.btn.btn-success(href='/' style='margin-right: 5px;')
      span Home
    a.btn.btn-success(href='/admin/dashboard/add-new-user')
      span Add New User
    table.table
      thead.thead-dark
        tr
          th(scope='col') No
          th(scope='col') Name
          th(scope='col') Email
          th(scope='col') Phone
          th(scope='col') Role
          th(scope='col') Action
      - let i = 0;
      each user in users
        tbody
            tr
              th(scope='row')= i+=1
              td= user.fullname
              td= user.email
              td= user.phone
              td= user.role
              td(style="display: inline-block;")
                div(style="display: flex;")
                  a.btn.btn-primary(href=`/admin/dashboard/form-edit/${user.id}` ) Edit 
                  .form
                    form.form-delete-user
                      input#userId(type='text' style='display: none;' value=`${user.UserGameId}`)
                      Button.btn.btn-danger.btn-delete-user(data-userid=`${user.UserGameId}`) Delete
                      //- button.btn.btn-danger.btn-delete Delete

script(src='../js/formuser.js')
script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")     
