doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
link(rel='stylesheet' href='/../../style/formstyle.css')
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
.constainer
  .content
    .card
      .card-body
        h5 Update User
        .form
          form.form-update-user
            .form-group
                input#inputUserId.form-control(type='hidden' name='userid' value=`${userVal.UserGameId}`)
            .form-group
                label.label(for='inputName')  Fullname 
                input#inputName.form-control(type='text' name="fullname" placeholder='Provide your name' value=`${userVal.fullname}`)
            .form-group
                label.label(for='inputEmail')  Email address 
                input#inputEmail.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='Enter email' value=`${userVal.email}`)
            .form-group
                label.label(for='inputPhone')  Phone 
                input#inputPhone.form-control(type='number' name='phone' placeholder='Enter your phone number' value=`${userVal.phone}`)
            .form-group
                label.label(for='inputPhone')  Role 
                input#inputRole.form-control(type='text' name='role' placeholder='Role is admin or user' value=`${userVal.role}`)
            button.btn.btn-primary Save

script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js")  
script(src='/../../js/formuser.js')
